# Python
.mypy_cache/
.venv/
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Build artifacts
src/**/_build/

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Trained models and data
data/

# Temporary files
temp/
